@using Microsoft.AspNetCore.Identity
@inject SignInManager<eDoc.Data.Models.ApplicationUser> SignInManager
@inject UserManager<eDoc.Data.Models.ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeaderScripts" />
</head>
<body>
    <partial name="_Navbar" />
    <div class="wrapper">
            <partial name="_Sidebar" />
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <partial name="_Footer" />

    @RenderSection("Scripts", required: false)

</body>
</html>
