@using Microsoft.AspNetCore.Identity
@inject SignInManager<eDoc.Data.Models.ApplicationUser> SignInManager
@inject UserManager<eDoc.Data.Models.ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="bg">
<head>
    <partial name="_HeaderScripts" />
    @RenderSection("Header", required: false)
</head>
<body>
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-light" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <partial name="_Navbar" />
        <main class="page-content">

            @RenderBody()

            <partial name="_Footer" />
        </main>
    </div>
    @RenderSection("Scripts", required: false)
</body>

</html>