@using Microsoft.AspNetCore.Identity
@inject SignInManager<eDoc.Data.Models.ApplicationUser> SignInManager
@inject UserManager<eDoc.Data.Models.ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="sidebar" data-color="blue">
    <div class="sidebar-wrapper">
        <div class="logo">
                <a class="simple-text">
                    Здравейте, <br />
                    @user.FullName!
                </a>
        </div>
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Моят профил</p>
                </a>
            </li>
            <li>
                <a class="nav-link" asp-controller="Doctor" asp-action="CreateRecipe">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Нова рецепта</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./table.html">
                    <i class="nc-icon nc-notes"></i>
                    <p>Table List</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./typography.html">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Typography</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./icons.html">
                    <i class="nc-icon nc-atom"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./maps.html">
                    <i class="nc-icon nc-pin-3"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./notifications.html">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="nav-item active active-pro">
                <a class="nav-link active" href="upgrade.html">
                    <i class="nc-icon nc-alien-33"></i>
                    <p>Upgrade to PRO</p>
                </a>
            </li>
        </ul>
    </div>
</div>