@model List<eDoc.Data.Models.Recipe>
<body>
    <h1>Създаване на рецепта</h1>

    <form method="post">
        <div class="form-group">
            <label for="doctorId">DoctorId</label>
            <input type="text" class="form-control" id="doctorId" name="doctorId" placeholder="Enter doctorId">
            <small id="textHelp" class="form-text text-muted">Please enter a valid doctor Id</small>
        </div>
        <div class="form-group">
            <label for="patientId">PatientId</label>
            <input type="text" class="form-control" id="patientId" name="patientId" placeholder="patientId">
            <small id="textHelp" class="form-text text-muted">Please enter a valid patient Id</small>
        </div>
        <div class="form-group">
            <label for="decription">Description</label>
            <input type="text" class="form-control" id="decription" name="description" placeholder="Description goes here...">
        </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>