@model eDoc.Models.View_Components.UserProfileViewModel

<div class="sidebar-header">
    <div class="user-pic">
        <img class="img-responsive img-rounded" src="@Model.ProfilePicture"
             alt="User picture">
    </div>
    <div class="user-info">
        <span class="user-name">
            @Model.FirstName
            <strong>@Model.FamilyName</strong>
        </span>
        <span class="user-role">@Model.Role</span>
        <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>На линия</span>
        </span>
    </div>
</div>