@model eDoc.Models.View_Components.UserProfileViewModel

<div class="sidebar-header">
    <a asp-area="Identity" asp-page="/Account/Manage/Index">
        <div class="user-pic">
            <img class="img-responsive img-rounded" src="@Model.ProfilePicture"
                 alt="User picture" width="250">
        </div>
        </a>
        <div class="user-info">
            <a asp-area="Identity" asp-page="/Account/Manage/Index">
                <span class="user-name">
                    @Model.FirstName
                    <strong>@Model.FamilyName</strong>
                </span>
            </a>
            <span class="user-role">@Model.Role</span>
            <span class="user-status">
                <i class="fa fa-circle"></i>
                <span>На линия</span>
            </span>
        </div>
</div>