@using eDoc.Models.View_Components
@model ProfilePictureLinkViewModel
<div class="user-pic">
    <img class="img-responsive img-rounded" src="@Model.Link"
         alt="User picture" width="100%">
</div>