@page
@inject UserManager<ApplicationUser> userManager
@model IndexModel
@{
    ViewData["Title"] = "Моят профил";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-6 col-md-6 align-content-center align-self-center">
        <div class="d-flex flex-column align-items-center text-center">
            <vc:profile-picture user="@userManager.GetUserId(this.User)" />
            <hr />
        </div>
        <hr />
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <div class="custom-file">
                    <input asp-for="Input.ProfilePicture" class="custom-file-input" id="profilePictureUpload">
                    <label class="custom-file-label" for="profilePictureUpload">Смяна на профилна снимка</label>
                </div>
                <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.FathersName"></label>
                <input asp-for="Input.FathersName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.FamilyName"></label>
                <input asp-for="Input.FamilyName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.DateOfBirth"></label>
                <input asp-for="Input.DateOfBirth" class="form-control" />
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <span asp-validation-for="Input.Sex" class="text-danger"></span>
            <div class="input_field radio_option">
                <input type="radio" asp-for="Input.Sex" value="Male" id="rd1">
                <label for="rd1">Мъж</label>
                <input type="radio" asp-for="Input.Sex" value="Female" id="rd2">
                <label for="rd2">Жена</label>
            </div>
            <div class="form-group">
                <label asp-for="Input.PIN"></label>
                <input asp-for="Input.PIN" class="form-control" />
                <span asp-validation-for="Input.PIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Occupation"></label>
                <input asp-for="Input.Occupation" class="form-control" />
                <span asp-validation-for="Input.Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.SpecialtyCode"></label>
                <input asp-for="Input.SpecialtyCode" class="form-control" />
                <span asp-validation-for="Input.SpecialtyCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.UIN"></label>
                <input asp-for="Input.UIN" class="form-control" />
                <span asp-validation-for="Input.UIN" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Обнови профил</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/accountIndex.js"></script>
}