

<div id="myMap" style='position:relative;width:100%;height:95vh;'></div>

@section Scripts{
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
    <script type="text/javascript">
        function GetMap() {
            var map = new Microsoft.Maps.Map('#myMap',
                {
                    credentials: 'AgyBuAgusRb9kW-TXZX-GO8Humdg0_oOZs6N9v7NzKPNwoTYGZc-foUBqRgVYVO0',
                    mapTypeId: Microsoft.Maps.MapTypeId.road,
                    zoom: 10
                });
            //Load the spatial math module
            Microsoft.Maps.loadModule("Microsoft.Maps.SpatialMath", function () {
                //Request the user's location
                navigator.geolocation.getCurrentPosition(function (position) {
                    var loc = new Microsoft.Maps.Location(position.coords.latitude, position.coords.longitude);

                    //Add a pushpin at the user's location.
                    var pin = new Microsoft.Maps.Pushpin(loc);
                    map.entities.push(pin);

                    //Center the map on the user's location.
                    map.setView({ center: loc, zoom: 17 });
                });
            });
        }
    </script>
}