@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h2>Добре дошли в еДОК!</h2>
    <hr>
    <div class="row">
        <div class="form-group col-md-12">
            <p>Платформата представлява цялостно решение за електронно здравеопазване.</p>

            <p>
                Версия 0.0.1 на платформата включва следните модули:

                <h2>Модул "Пациент"</h2>
                <ul>
                    <li>
                        <b>Моето здраве</b> - следете здравните си показатели тегло, кръвно налягане, алергии.
                    </li>
                    <li>
                        <b>Моите документи</b> - съдържа всички Ваши издадени здравни документи.
                    </li>
                    <li>
                        <b>Карти</b> - открийте полезна информация за здравни заведения и аптеки близо до Вас.
                    </li>
                    <li>
                        <b>Моят личен лекар</b> - информация и връзка с Вашия личен лекар.
                    </li>
                </ul>
                <h2>Модул "Доктор"</h2>
                Включва всички функционалности от модул "Пациент" плюс:
                <ul>
                    <li>
                        <b>Доктор</b> - управлявайте списъка с пациенти, на които сте личен лекар, издаване на медицински документи, архив на издадените документи.
                    </li>
                </ul>
                <h2>Модул "Фармацевт"</h2>
                Включва всички функционалности от модул "Пациент" плюс:
                <ul>
                    <li>
                        <b>Фармацевт</b> - търсене, преглед и изпълнение на издадени рецепти.
                    </li>
                </ul>
                <h2>Модул "Работодател"</h2>
                Включва всички функционалности от модул "Пациент" плюс:
                <ul>
                    <li>
                        <b>Моите служители</b> - директен достъп до болничните листове издадени на Вашите служители.
                    </li>
                </ul>
            </p>

            <p>Полезни връзки:
            <ul>
                <li>
                    <a asp-action="Privacy">Политика за поверителност и защита на личните данни</a>
                </li>
                <li>
                    <a asp-action="Legal">Правна информация</a>
                </li>
                <li>
                    <a asp-action="ContactUs">Контакти</a>
                </li>
            </ul>
            </p>
        </div>
    </div>

    <hr>
</div>
