@{
    ViewData["Title"] = "Политика за поверителност и използване на платформата";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p>

    <h2>Събиране на информация</h2>

<p>Ние събираме информация от Вас само когато се регистрирате в нашия сайт, когато се вписвате в акаунта си, правите запитване или абонамент към услуга.</p>
<p>Информацията, която изискваме е минимално необходимата за отговор на Вашето запитване или изпълнение на поръчка.</p>
<p>Нашият сайт може да провери Вашият IP адрес с цел защита от недобросъвестно потребление, както и за целите на реално отчитане на трафика.</p>
<p>Нашият сайт може да провери езиковите настройки, Вашата операционна система и крайно устройство, географско местоположение, само ако Вашият браузър предостави тази информация след изрично допитване до Вас. Всичко това се използва за целите на правилната визуализация на съдържанието, което Ви предоставяме.</p>


<h2>Нелична информация</h2>


<p>Когато Вие представлявате фирма (юридическо лице), ние третираме предоставената от Вас информация съгласно Закона за задълженията и договорите.</p>
<p>В тези случаи ние изискваме единствено публично известната информация за идентификация на представляваната от Вас фирма и контактна информация, която не обвързана със субект на данни.</p>


<h2>Използване на информацията</h2>

<p>Информацията, която събираме от вас може да бъде използвана за:</p>
<ul>
    <li>Да подобрим платформата</li>
    <li>Персонализираме вашето преживяване и да отговорим на индивидуалните ви нужди</li>
    <li>Да подобрим потребителската услуга и нуждите Ви от поддръжка</li>
    <li>Да се свържем с Вас в отговор на Ваше запитване</li>
</ul>

<h2>Поверителност</h2>

<p>Ние не продаваме, търгуваме или по друг начин трансферираме вашата лична идентификационна информация към външни страни.</p>
<p>Ние вярваме, че е необходимо да се споделя информация, в случаите, в които е трябва да се извърши разследване, да се предотврати или да се вземат мерки срещу незаконни действия, при предполагаеми опити за измама, ситуации, включващи потенциална заплаха за физическата безопасност на което и да е лице, при нарушаване на нашите условия за ползване или в случаите, когато информацията е изискуема от закона.</p>
<p>При използването на опцията "Свързване с външен акаунт" ние се допитваме до доставчика на свързан акаунт с единствената цел да Ви осигурим достъп до платформата.</p>

<h2>Защита на информацията</h2>

<p>Ние използваме различни защитни мерки и методи, за да бъде вашата лична информация защитена и пренасяна онлаин.</p>
<p>Достъп до предоставена от Вас информация се дава само на служители, които трябва да извършат специфично действие свързано с Ваше конкретно искане.</p>
<p>Компютрите/сървърите, използвани за съхраняване на лична идентификационна информация се държат в защитена среда.</p>

<h2>Право на информация</h2>

<p>Платформата Ви предоставя пълен достъп до цялата информация, която сте ни предоставили.</p>
<p>Използвайте опцията<a asp-area="Identity" asp-page="/Account/Manage/PersonalData"> Профил > Лична данни > Свали лични данни</a></p>

<h2>Оттегляне на съгласие и заличаване на профил</h2>
<p>Можете по всяко време да упражните правото си за пълно заличаване на профила чрез опцията <a asp-area="Identity" asp-page="/Account/Manage/PersonalData"> Профил >Лична данни > Разбирам, изтрий профила ми</a></p>

<h2>Бисквитки</h2>
<p>Платформата използва бисквитки за да идентифицира и потвърди правото Ви на достъпа до определени ресурси. Използването на бисквитки, по никакъв начин не е свързано с каквато и да е лична идентификационна информация на нашия сайт.</p>

<h2>Съгласие</h2>
<p>Чрез използването на платформата Вие давата изричното си съгласие с нашата "Политика за поверителност".</p>
