@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Активация на акаунт";
}

<h1>@ViewData["Title"]</h1>

<h1> Вашият профил е активиран успешно. Можете да влезнете в системата през <a asp-controller="Home" asp-action="Index">Вход</a></h1>