@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Забравена парола";
}

<h1>@ViewData["Title"]</h1>
<p>
    Инструкции за нулиране на паролата са изпратени на електронната Ви поща.
</p>

