@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Акаунтът е заключен, моля, опитайте по-късно или се свържете с нас.</p>
</header>
