@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="container">
    <div class="row">
        <div class="col-md-3 register-left ">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Добре дошли!</h3>
            <p>
                еДок е електронна платформа за здравеопазване, която събира на едно място доктори и пациенти.
                Повече за услугата може да откриете в Правила за ползване на платформата.
            </p>
            <a asp-area="Identity" asp-page="/Account/Login"><input type="submit" value="Вход" /></a>
        </div>

        <form class="col-md-9 register-right" asp-route-returnUrl="@Model.ReturnUrl" method="post" onsubmit="disableEmptyInputs(this)">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#patient" role="tab" aria-controls="patient" aria-selected="true">Пациент</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#doctor" role="tab" aria-controls="doctor" aria-selected="false">Доктор</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="patient" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Регистрация на пациент</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="Input.FirstName" type="text" class="form-control" placeholder="Име *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="Input.FathersName" class="form-control" placeholder="Презиме *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="Input.FamilyName" class="form-control" placeholder="Фамилия *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" asp-for="Input.Password"  class="form-control" placeholder="Парола *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" asp-for="Input.ConfirmPassword"  class="form-control" placeholder="Повтори паролата *" value="" />
                            </div>
                            <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline">
                                        <input type="radio" value="Male" asp-for="Input.Sex" checked>
                                        <span> Мъж </span>
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" value="Female" asp-for="Input.Sex">
                                        <span> Жена </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" asp-for="Input.Email"  class="form-control" placeholder="Е-поща *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="Input.PIN"  minlength="10" maxlength="10" class="form-control" placeholder="ЕГН *" value="" />
                            </div>
                            <div class="form-group">
                                <label class="form-label-group">Дата на раждане</label>
                                <input type="date" asp-for="Input.BirthDate"  class="form-control" placeholder="Дата на раждане *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="Input.Occupation" class="form-control" placeholder="Професия *" value="" />
                            </div>
                            <input type="submit" class="btnRegister" value="Регистрация" />
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="doctor" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="register-heading">Регистрация на Доктор</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" asp-for="Input.FirstName" class="form-control" placeholder="Име *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="Input.FathersName" class="form-control" placeholder="Презиме *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="Input.FamilyName" class="form-control" placeholder="Фамилия *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" asp-for="Input.Password"  class="form-control" placeholder="Парола *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" asp-for="Input.ConfirmPassword"  class="form-control" placeholder="Повтори паролата *" value="" />
                            </div>
                            <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline">
                                        <input type="radio" value="Male" asp-for="Input.Sex"  checked>
                                        <span> Мъж </span>
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" value="Female" asp-for="Input.Sex">
                                        <span> Жена </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" asp-for="Input.Email" class="form-control" placeholder="Е-поща *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="Input.PIN" minlength="10" maxlength="10" class="form-control" placeholder="ЕГН *" value="" />
                            </div>
                            <div class="form-group">
                                <label class="form-label-group">Дата на раждане</label>
                                <input type="date" asp-for="Input.BirthDate" class="form-control" placeholder="Дата на раждане *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Медицински център *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="Input.UIN" class="form-control" placeholder="УИН *" value="" />
                            </div>
                            <input type="submit" class="btnRegister" value="Регистрация" />
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
