@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}
<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Регистрация на нов потребител</h2>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row clearfix">
            <div>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="row clearfix">
                        <div class="col_half">
                            <div class="input_field select_option">
                                <select>
                                    <option>Обръщение:</option>
                                    <option>Г-н</option>
                                    <option>Г-жа</option>
                                    <option>Г-ца</option>
                                </select>
                                <div class="select_arrow"></div>
                            </div>
                        </div>
                        <div class="col_half">
                            <div class="input_field">
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" asp-for="Input.FirstName" placeholder="Име" />
                            </div>
                        </div>
                        <div class="col_half">
                            <span asp-validation-for="Input.FathersName" class="text-danger"></span>
                            <div class="input_field">
                                <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" asp-for="Input.FathersName" placeholder="Презиме" />
                            </div>
                        </div>
                        <div class="col_half">
                            <span asp-validation-for="Input.FamilyName" class="text-danger"></span>
                            <div class="input_field">
                                <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" asp-for="Input.FamilyName" placeholder="Фамилия" required />
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="email" asp-for="Input.Email" placeholder="Електронна поща" required />
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input type="password" asp-for="Input.Password" placeholder="Парола" required />
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input type="password" asp-for="Input.ConfirmPassword" placeholder="Повтори паролата" required />
                    </div>
                    <span asp-validation-for="Input.Sex" class="text-danger"></span>
                    <div class="input_field radio_option">
                        <input type="radio" asp-for="Input.Sex" value="Male" id="rd1">
                        <label for="rd1">Мъж</label>
                        <input type="radio" asp-for="Input.Sex" value="Female" id="rd2">
                        <label for="rd2">Жена</label>
                    </div>
                    <div class="row clearfix">
                        <div class="col_half">
                            <span asp-validation-for="Input.PIN" class="text-danger"></span>
                            <div class="input_field">
                                <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" minlength="10" maxlength="10" asp-for="Input.PIN" placeholder="ЕГН" required />
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                    <div class="input_field">
                        <input type="date" asp-for="Input.BirthDate" placeholder="Рожден Ден" required />
                    </div>

                    <div class="input_field select_option">
                        <select asp-for="Input.Role">
                            <option value="" disabled selected>Аз съм:</option>
                            <option value="ePatient">Пациент</option>
                            <option value="eDoctor">Доктор</option>
                            <option value="ePharmacist"> Фармацевт</option>
                            <option value="eEmployer">Работодател</option>
                        </select>
                        <div class="select_arrow"></div>
                    </div>
                    <div class="row clearfix">
                        <span asp-validation-for="Input.Occupation" class="text-danger"></span>
                        <div class="col_half">
                            <div class="input_field" id="Occupation">
                                <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" asp-for="Input.Occupation" placeholder="Професия" required />
                            </div>
                        </div>
                        <div class="col_half" id="UIN">
                            <span asp-validation-for="Input.UIN" class="text-danger"></span>
                            <div class="input_field">
                                <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" asp-for="Input.UIN" placeholder="УИН" required />
                            </div>
                        </div>
                        <div class="col_half" id="MedicalCenter">
                            <span asp-validation-for="Input.MedicalCenter" class="text-danger"></span>
                            <div class="input_field">
                                <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" asp-for="Input.MedicalCenter" placeholder="Мед. център" required />
                            </div>
                        </div>
                        <div class="col_half" id="SpecialtyCode">
                            <span asp-validation-for="Input.SpecialtyCode" class="text-danger"></span>
                            <div class="input_field">
                                <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" asp-for="Input.SpecialtyCode" placeholder="Код специалност" required />
                            </div>
                        </div>
                        <div class="col_half" id="Workplace">
                            <span asp-validation-for="Input.Workplace" class="text-danger"></span>
                            <div class="input_field">
                                <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" asp-for="Input.Workplace" placeholder="Работодател" required />
                            </div>
                        </div>
                    </div>
                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">I agree with terms and conditions</label>
                    </div>
                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb2">
                        <label for="cb2">I want to receive the newsletter</label>
                    </div>
                    <input class="button" type="submit" value="Register" />
                </form>
                <p>
                    <div>
                        <a class="text-light" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">< Обратно </a>
                    </div>
                </p>
                <p>
                    <div class="align-content-center">
                        <a class="text-light" asp-controller="Home" asp-action="Privacy" asp-route-returnUrl="@Model.ReturnUrl"> Политика за поверителност </a>
                    </div>
                    <div class="align-content-end">
                        <a class="text-light" asp-controller="Home" asp-action="About" asp-route-returnUrl="@Model.ReturnUrl"> Какво е еДок? </a>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/registrationform.js"></script>
}
