@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Паролата е нулирана успешно. Моля, <a asp-page="./Login">влезте в системата</a> за да продължите.
</p>
